div.hourlyForecast {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #a4bcd8;
  color: #142c4c;
  font-family: "Kanit", sans-serif;
}
